@{
    ViewData["Title"] = "Home Page";
}

<style>
    .web-bubble {
        border-radius: 10px;
        padding: 25px;
        background: white;
        box-shadow: 5px 1px 11px grey;
    }
</style>

    <div style="padding-right:0px; padding-left:0px" class="container-fluid">
        <div class="web-bubble">
            <div ng-view></div>
        </div>
    </div>
    
