<div ng-show="queryDeleted==false">
    <h1>Radera rapport</h1>
    <h3>Är du säker på att du vill ta bort den här?</h3>
</div>


<div ng-show="queryDeleted==true">
    <br />
    <h1 style="color:#d9534f">Rapportmall Raderad!</h1>
</div>
<hr />
<h3><b style="color:#dc5551;">Namn:</b> {{deleteInfo.query.groupName}}</h3>
<h4><b style="color:#dc5551;">Query:</b> {{deleteInfo.query.sql}}</h4>
<br />

<table class="table">
    <thead style="font-size:18px">
        <tr>
            <th>Id</th>
            <th>Namn</th>
            <th>Typ</th>
            <th>Parameterkod</th>
            <th>Tabellnamn</th>
            <th>Kolumnnamn</th>
            <th>Nyckelkolumn</th>
            <th>Valfri parameter</th>
        </tr>
    </thead>
    <tbody ng-repeat="i in deleteInfo.queryParams">
        <tr>
            <td>{{i.id}}</td>
            <td>{{i.name}}</td>
            <td>{{i.typeId}}</td>
            <td>{{i.parameterCode}}</td>
            <td>{{i.tableName}}</td>
            <td>{{i.columnName}}</td>
            <td>{{i.keyColumn}}</td>
            <td>{{i.paramRequired}}</td>
        </tr>
    </tbody>
</table>
<br />
<div ng-show="queryDeleted==false">
    <input ng-click="deleteQuery()" type="submit" value="Radera" class="btn btn-danger" />
    <br /><br />
    <a href="/#!/"><p> Tillbaka till listan </p></a>
</div>
<div ng-show="queryDeleted==true">
    <a class="btn btn-danger" href="/#!/">Tillbaka</a>
</div>
<br />
<br />
