<link rel="stylesheet" href="/css/create.css" />
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

<div ng-show="queryEdited == false">
    <h1>Redigera Rapportmall</h1>
    <div>
        <a href="/#!/"><p> Tillbaka till listan </p></a>
    </div>

    <hr />

    <label> Gruppnamn </label>
    <input ng-model="editInfo.query.groupName" style="width:700px" class="form-control" />
    <br />

    <label> Sql-Query </label>
    <textarea style="height:100px" ng-model="editInfo.query.sql" class="form-control"></textarea>

    <br />
    <hr />
    <br />
    <div ng-repeat="i in editInfo.queryParams">
        <div class="query-params flex-container">
            <div class="form-group">
                <label>Namn</label>
                <input value="{{i.name}}" ng-model="i.name" id="name-input" class="form-control" />
            </div>
            <div class="form-group">
                <label>Kod</label>
                <input value="{{i.parameterCode}}" ng-model="i.parameterCode" class="form-control" />
            </div>
            <div class="form-group">
                <label>Typ</label>
                <select ng-init="i.typeId = i.typeId.toString()" ng-change="addOptions({{$index}})" ng-model="i.typeId" class="form-control">
                    <option value="1">
                        Text
                    </option>
                    <option value="2">
                        Datum
                    </option>
                    <option value="3">
                        Boolean
                    </option>
                    <option value="4">
                        Sql-Tabell
                    </option>
                    <option value="5">
                        Siffra
                    </option>
                </select>
            </div>

            <div class="form-group">
                <label>Tabellnamn</label>
                <input ng-disabled="i.typeId != 4" value="{{i.tableName}}" ng-model="i.tableName" class="form-control" />
            </div>
            <div class="form-group">
                <label>Visningskolumn</label>
                <input ng-disabled="i.typeId != 4" value="{{i.displayColumn}}" ng-model="i.displayColumn" class="form-control" />
            </div>
            <div class="form-group">
                <label>Nyckelkolumn</label>
                <input ng-disabled="i.typeId != 4" value="{{i.keyColumn}}" ng-model="i.keyColumn" class="form-control" />
            </div>
            <button type="button" name="remove" class="btn btn-danger btn-sm btn-style" ng-click="removeRow($index)"><span class="glyphicon glyphicon-minus"></span></button>
        </div>
        <div style="width:11em" class="flex-container">
            <div style="width:2em">
                <input ng-model="i.paramOptional" style="width:2vh" type="checkbox" class="form-control" />
            </div>
            <div>
                <label style="line-height:3em">Valfri parameter</label>
            </div>
        </div>
        <hr />
        <br />
    </div>
    <br />
    <div class="form-group">
        <input type="button" value="+Lägg till Parameter" class="btn btn-primary" ng-click="addRow()" />
    </div>

    <div class="form-group">
        <input ng-click="editQuery()" type="submit" value="Spara" class="btn btn-success" />
    </div>
    <br />
    <div>
        <a href="/#!/"><p> Tillbaka till listan </p></a>
    </div>
</div>

<div ng-show="queryEdited == true">
    <br />
    <h1 style="color:#5cb85c">Rapportmall Uppdaterad!</h1>
    <br />
    <hr />
    <br />
    <h2><b style="color:#5cb85c">Namn:</b> {{editInfo.query.groupName}}</h2>
    <h3><b style="color:#5cb85c">Query:</b> {{editInfo.query.sql}}</h3>
    <br />
    <br />
    <table class="table">
        <thead>
            <tr>
                <th>Namn</th>
                <th>Typ</th>
                <th>Kod</th>
                <th>Tabellnamn</th>
                <th>Visningskolumn</th>
                <th>Nyckelkolumn</th>
                <th>Valfri Parameter</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in editInfo.queryParams">
                <td>{{row.name}}</td>
                <td>{{row.typeId}}</td>
                <td>{{row.parameterCode}}</td>
                <td>{{row.tableName}}</td>
                <td>{{row.displayColumn}}</td>
                <td>{{row.keyColumn}}</td>
                <td>{{row.paramOptional}}</td>
            </tr>
        </tbody>
    </table>
    <a class="btn btn-success" href="/#!/">Tillbaka</a>
</div>
