<h1>Detaljer</h1>
<div>
    <a href="/#!/"><p> Tillbaka till listan </p></a>
</div>
<hr />
<h3>Query</h3>
<hr />
<h4><b>Id:</b> {{queryInfo.query.id}}</h4>
<h4><b>Namn:</b> {{queryInfo.query.groupName}}</h4>
<h4><b>Query:</b> {{queryInfo.query.sql}}</h4>
<br />
<br />
<h3>Parametrar</h3>
<hr />
<table class="table">
    <thead style="font-size:18px">
        <tr>
            <td><b>Id</b></td>
            <td><b>Namn</b></td>
            <td><b>Typ</b></td>
            <td><b>Parameterkod</b></td>
            <td><b>Tabellnamn</b></td>
            <td><b>Kolumnnamn</b></td>
        </tr>
    </thead>
    <tbody ng-repeat="i in queryInfo.queryParams">
        <tr>
            <td>{{i.id}}</td>
            <td>{{i.name}}</td>
            <td>{{i.typeId}}</td>
            <td>{{i.parameterCode}}</td>
            <td>{{i.tableName}}</td>
            <td>{{i.columnName}}</td>
        </tr>
    </tbody>
</table>
<br />
<ul style="padding-inline-start: 0px">
    <li style="display:inline-block"><a href="/#!/"><p> Tillbaka till listan |</p></a></li>
    <li style="display:inline-block"><a href="/#!/edit/{{queryInfo.query.id}}"> Ändra</a></li>
</ul>
