<link rel="stylesheet" href="/css/search.css" />

<div ng-show="invalidQueryParam == true">
    <h3 style="color:red">Felaktig Sql-tabell Parameter, Ogiltligt Rapportmall</h3>
    <br />
    <h3 style="color:red">Kontakta IT</h3>
    <br />
    <div>
        <a href="/#/queryList">Tillbaka till listan</a>
    </div>
</div>

<div ng-show="searchCompleted == false && invalidQueryParam == false">
    <form name="searchForm">
        <h1>Sök</h1>
        <h4>Parametrar</h4>
        <div>
            <a href="/#/queryList">Tillbaka till listan</a>
        </div>
        <hr />
        <div ng-repeat="i in searchInfo.queryParams track by $index">

            <p ng-if="i.paramOptional == true">{{i.name}} (Valfri)</p>
            <p ng-if="i.paramOptional == false">{{i.name}}*</p>
            <div>
                <input name="nameInput{{$index}}" ng-model="i.value" ng-if="i.typeId==1" class="form-control" style="width:25em" ng-required="i.paramOptional == false" />
                <span ng-show="searchForm.nameInput{{$index}}.$touched && searchForm.nameInput{{$index}}.$error.required">Textfältet är Obligatoriskt</span>

                <input name="dateInput{{$index}}" ng-if="i.typeId==2" ng-model="i.value" type="date" class="form-control inputs" ng-required="i.paramOptional == false" />
                <span ng-show="searchForm.dateInput{{$index}}.$touched && searchForm.dateInput{{$index}}.$error.required">Välj ett datum</span>

                <div ng-if="i.typeId==3">
                    <input ng-model="i.value" type="radio" value="TRUE" ng-required="i.paramOptional == false" /> ja
                    <input style="margin-left:25px" ng-model="i.value" type="radio" value="FALSE" ng-required="i.paramOptional == false" /> nej
                </div>

                <select ng-required="i.paramOptional == false" name="tableInput{{$index}}"
                        ng-model="i.value" class="form-control inputs" ng-if="i.typeId==4"
                        ng-options="option.keyColumn as option.displayColumn for option in i.sqlLists">
                </select>
                <span ng-show="searchForm.tableInput{{$index}}.$touched && searchForm.tableInput{{$index}}.$error.required">Välj ett alternativ ifrån listan</span>

                <input name="numberInput{{$index}}" ng-model="i.value" ng-if="i.typeId==5" type="number" class="form-control inputs" ng-required="i.paramOptional == false" />
                <span ng-show="searchForm.numberInput{{$index}}.$touched && searchForm.numberInput{{$index}}.$error.required">Fyll i siffran</span>
            </div>

            <hr />

        </div>
        <p style="color:red">{{dateInputMessage}}</p>
        <div ng-if="searchInfo.queryParams.length > 2">
            <a href="/#/queryList">Tillbaka till listan</a>
        </div>
        <div>
            <h4 style="color:red">{{noResult}}</h4>
            <br />
        </div>
        <div class="form-group">
            <input ng-disabled="searchForm.$invalid" ng-click="searchQuery()" type="submit" name="submit" value="Visa resultat på sidan" class="btn btn-primary" />
        </div>
        <div class="form-group">
            <input ng-disabled="searchForm.$invalid" ng-click="searchQueryExcel()" type="submit" name="submit" value="Ladda ned som excel" class="btn btn-primary" />
        </div>
    </form>
</div>


<div ng-show="searchCompleted == true">
    <h1>Resultat</h1>

    <div ng-if="searchResult.rowValues.length > 10">
        <a href="/#/queryList">Tillbaka till listan</a>
    </div>
    <br />
    <div ng-if="searchResult.rowValues.length == 0">
        <h3 style="color:red">{{noResultView}}</h3>
        <br />
    </div>
    <div ng-if="searchResult.rowValues.length != 0">
        <table class="table">
            <thead>
                <tr>
                    <th ng-repeat="column in searchResult.columnNames">
                        {{column}}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in searchResult.rowValues">

                    <td ng-repeat="columnnValue in row track by $index">
                        {{columnnValue}}
                    </td>
                </tr>
            </tbody>
        </table>
        <br />
        <div class="form-group">
            <input ng-click="searchQueryExcel()" type="submit" value="Ladda ned som excel" class="btn btn-primary" />
        </div>
        <br />
    </div>
    <div class="form-group">
        <input ng-click="searchAgain()" ng-show="searchResult.columnNames.length != 0" class="btn btn-success" type="button" value="Sök igen" />
    </div>
    <br />
    <div>
        <a href="/#/queryList">Tillbaka till listan</a>
    </div>
</div>
