.query-params div{
    width: 10em;
    font-size: 1em;
    padding-right:1em;
    padding-bottom:8px;
}
.query-params {
    position: relative;
}
.flex-container{
    display: flex;
    flex-direction: row;
}

.flex-container > div,section {
    flex-grow:1;
    flex-basis: 1;
}
.btn-style {
    height: 3em;
    width: 3em;
    align-self: center;
}

