#table-border td {
    border-top: 1px solid #146636;
}
#table-border tbody {
    border-top: 1px solid #146636;
}
tbody tr {
    height: 2em;
}


    tbody tr td a {
        line-height: 2em;
        color: black;
    }
       

.options-btn {
    font-size: 18px;
    margin-left: 3em;
}

.query-btns{
    width: 48em;
    color: black;
    background-color: #1466365c;
    border-color: #146636;
}
.query-btns-td td {
    padding: .75rem .75rem .75rem 0;
}

.query-btns-user{
    width: 100%;
    color: black;
    background-color: #1466365c;
    border-color: #146636;
}
.query-btns-user-td td{
    padding: .75rem;
}

.sql-scroll-section {
    width: 50em;
    height: 8em;
    overflow: scroll;
    border: solid 1px #146636;
    background-color: white;
    padding-top: 5px;
    padding-left: 10px;
}

.delete-drop-down-section {
    background-color: #eaeaea;
    display: none;
    border: solid 2px #146636;
}
.details-drop-down-section {
    border: solid 2px #146636;
    background-color: #eaeaea;
    display: none;
}

.colaps-deatails-section {
    cursor: pointer;
    font-size: 40px;
    font-weight: bold;
    position:absolute;
    left:15rem;
    top:-2rem;
}
    .colaps-deatails-section:hover {
        color: #146636;
    }

    .options-btns {
        text-align: right;
        width:25%;
    }

.flex-container-query-list {
    display: flex;
    flex-direction: row;
}
.search-container {
    width: 18em;
    display: block;
    margin: 0 auto;
}
#search-container {
    margin-top: 1em;
    margin-bottom: 1em;
}

input#search-bar {
    margin: 0 auto;
    width: 100%;
    height: 45px;
    padding: 0 12px;
    font-size: 18px;
    border: 2px solid #146636;
    outline: none;
}

.search-icon {
    position: relative;
    float: right;
    width: 75px;
    height: 75px;
    top: -62px;
    right: -18px;
}


.drop-down-btns:hover {
    color: #146636;
    cursor: pointer;
}
/*.drop-down-btns {
    color: #337ab7;
}*/


#create-new-query {
    color: #5ba045;
    font-size: 20px;
}
    #create-new-query:hover {
        color: #146636;
        border-bottom: solid 1px;
    }


.delete-message{
    line-height:2em;
    font-size:18px;
}
.delete-btns {
    text-align: right;
}
#delete-message-top{
    color:red;
    font-size:20px;
    font-style:italic;
    margin-top:30px;
    margin-left:5px;
    display: none;
}

